<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>AutofacDemo</string>
	<key>CFBundleIdentifier</key>
	<string>com.jorgemht.AutofacDemo</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>AutofacDemo</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>iconize-fontawesome.ttf</string>
		<string>iconize-material.ttf</string>
		<string>Fonts/Montserrat-Black.ttf</string>
		<string>Fonts/Montserrat-Bold.ttf</string>
		<string>Fonts/Montserrat-ExtraBold.ttf</string>
		<string>Fonts/Montserrat-ExtraLight.ttf</string>
		<string>Fonts/Montserrat-Italic.ttf</string>
		<string>Fonts/Montserrat-Light.ttf</string>
		<string>Fonts/Montserrat-Medium.ttf</string>
		<string>Fonts/Montserrat-Regular.ttf</string>
		<string>Fonts/Montserrat-SemiBold.ttf</string>
		<string>Fonts/Montserrat-Thin.ttf</string>
		<string>Fonts/TextMeOne-Regular.ttf</string>
	</array>
</dict>
</plist>
